.flexall-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 7px;
    padding: 4px 6px;
    font-size: 12px;
    cursor: pointer;
    border: 2px solid black;
}